frontend/node_modules
frontend/dist
frontend/playwright-report
frontend/test-results
backend/storage/pdfs
backend/storage/import
backend/.cache
*.log
backend/storage/covers
*.exe
*.tar
large_test.pdf
backend/storage/old_library_data
backend/storage/*.sql
*.docx
отчеты по практике/
